{% extends 'layout.html' %}

{% block body %}

  <!-- Jumbotron - used to highlight the CTA buttons -->
  <div class="jumbotron text-center">
    <h1 class="display-4">FlaskNote</h1>
    <p>This application was build using the Flask framework</p>
    <div>
      {% if session.logged_in == NULL: %}
        <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-danger btn-lg" href="/register" role="button">Register</a></p>
      {% else: %}
        <h3>You are Logged in</h3> 
      {% endif %}
    </div>
  </div>

{% endblock %}